{% load i18n %}
{% block main %}
<p>{% trans "Hi" %} {{ user.first_name }}! </p>
<p>{% trans "Congratulations! Your Miki account has been activated." %}</p>
<p>{% trans "Please use the link below to activate it." %}</p>
<p><a href="http://{{ request.get_host }}{{ verify_url }}">http://{{ request.get_host }}{{ verify_url }}</a></p>
<br>
<p>Miki team.</p>
<br>
<p>P.S. For any questions and feedback, please, feel free to contact us at <a href="http://themiki.com/contact" target="_blank">Contact</a>.</p>

{% endblock %}
