{% load mezzanine_tags rating_tags i18n future %}

<div class="rating pull-right">

    <form method="post" action="{% url "rating" %}">{% csrf_token %}
        {% fields_for rating_form %}
    </form>
   
    <span class="arrows">
        {% if request.user.is_staff or request.user.profile.karma >= 10 %}
        <a href="#" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="glyphicon glyphicon-chevron-up"></i></a>
        {% endif %}
		<span class="score">
        {% with rating_obj.comments_count|default:0 as comments_count %}
        <!--{{ rating_sum|add:comments_count }}-->
        {{ rating_sum }}
        {% endwith %}
        </span>
        {% if request.user.is_staff or request.user.profile.karma >= 30 %}
        <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
        {% endif %}
    </span>
    

</div>

