{% extends "base.html" %}

{% block meta_title %}New miki{% endblock %}
{% block title %}New miki{% endblock %}

{% load mezzanine_tags %}

{% block main %}
<br>
<p class="text-muted">Hint: in Title write what miki is about (limit - 50 chars), and in Body the actual miki (limit - 200 chars, including links). E.g. Title: Miki ,  Body: the social micro encyclopedia etc. After creating miki use Comments to provide more information.</p>
<form method="post">{% csrf_token %}
<fieldset>{% fields_for form %}</fieldset>
<div id="result">
<p>Total characters: <span id="totalChars">0</span></p>
</div>

<div class="actions">
    <input class="btn no-pjax" type="submit" value="Post miki">
</div>

</form>

<script>
counter = function() {
    var value = $('#id_body').val();

    if (value.length == 0) {
        $('#wordCount').html(0);
        $('#totalChars').html(0);
        return;
    }

    var regex = /\s+/gi;
    var wordCount = value.trim().replace(regex, ' ').split(' ').length;
    var totalChars = value.length;

    $('#wordCount').html(wordCount);
    $('#totalChars').html(totalChars);
};

$(document).ready(function() {
    $('#count').click(counter);
    $('#id_body').change(counter);
    $('#id_body').keydown(counter);
    $('#id_body').keypress(counter);
    $('#id_body').keyup(counter);
    $('#id_body').blur(counter);
    $('#id_body').focus(counter);
});
</script>

{% endblock %}
