{% extends "base.html" %}

{% block meta_title %}New miki{% endblock %}
{% block title %}New miki{% endblock %}
{% block extra_head %}

{% endblock %}
{% load mezzanine_tags %}

{% block main %}

<br>
<p class="text-muted">Hint: in Title write what miki is about (limit - 50 chars), and in Body the actual miki (limit - 200 chars, including links). E.g. Title: Miki ,  Body: the social micro encyclopedia etc. After creating miki use Comments to provide more information.</p>
<form method="post" id="form">{% csrf_token %}
<fieldset>{% fields_for form %}</fieldset>
<div class="actions">
    <input class="btn no-pjax" type="submit" value="Post miki">
</div>

</form>


{% endblock %}
