{% extends "base.html" %}

{% load pages_tags mezzanine_tags rating_tags drum_tags future %}

{% block meta_title %}{% url "link_list_user" as link_list_user %}{% if request.path == link_list_user %}{% else %}{{ title|default:"Home" }}{% endif %}{% endblock %}
{% block title %}{% if profile_user %}{% else %}{{ title }}{% endif %}{% endblock %}

{% block main %}


{% if profile_user %}
<div class="clearfix text-center">

    {% with profile_user.profile as profile %}
    {% if profile_user.first_name %}
    {% if profile_user.last_name %}
    <p class="bio">{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
    {% endif %} 
    {% endif %} 
    <p class="text-muted">@{{ profile_user.username }}</p>
    {% if profile.bio %}
    <p class="bio">{{ profile.bio|urlize|linebreaks }}</p>
    {% endif %}
    {% if profile.website %}
    <p class="bio">Website: <a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a></p>
    {% endif %}
    <p class="bio">Mikis ({{ profile_user.links.published.count }})  |  Comments ({{ profile_user.comment_comments.count }})  |  <abbr title="Karma is a personal rank on the platform which is collected when other users upvote the comments or campaigns of the user and used to identify the best users that then will be rewarded.">Karma</abbr>: {{ profile.karma }}</p>
    <p class="bio text-muted">Member since {{ profile_user.date_joined|date:"d M Y" }}</p>
    {% endwith %}


</div>
{% endif %}
{% if profile_user == request.user %}
<div class="text-center">
    <a class="btn btn-default" href="{% url "profile_update" %}">Update profile</a>
</div>
{% endif %}<br>
{% for link in object_list %}
<div class="link-item clearfix">
    {% rating_for link %}
    <div class="link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
        <h2 style="margin-top: -5px; margin-bottom: 5px;">
            <a href="{{ link.get_absolute_url }}" >{{ link.title }} <i class="fa fa-twitter-sign"></i></a>
        </h2>
        <p>{{ link.body }}</p>
        <div class="link-meta">
        <p>by <a href="{% url "profile" link.user.username %}">{{ link.user.profile }}</a> <span class="text-muted"> in {{ link.body|length }} chars  {{ link.publish_date|short_timesince }} ago /</span>
        <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} comment{{ link.comments_count|pluralize }}</a>  
        <span class="pull-right sharing">share on: 
{% set_short_url_for link %}
<a class="btn-sm" target="_blank" href="http://twitter.com/home?status={{ link.title|urlencode }}%20-%20{{ link.description|urlencode }}%20{{ link.short_url|urlencode }}%20via%20@mikiapp"><i class="fa fa-twitter"></i></a>
<a class="btn-sm" target="_blank" href="http://facebook.com/sharer.php?u={{ link.short_url|urlencode }}&amp;t={{ link.title|urlencode }}"><i class="fa fa-facebook"></i></a>
        </span>
        </p>
    </div>
    </div>
</div>
{% empty %}
<p>{{ no_data }}</p>
{% endfor %}

{% pagination_for object_list "page" "pjax" %}

{% endblock %}
