<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
<link rel="publisher" href="https://plus.google.com/106085179833629846976" >
<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/journal/bootstrap.min.css" rel="stylesheet">
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/drum.css">
{% endcompress %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.navbar {
   background-color: rgba(255, 255, 255, 0.9);
} 
</style>

{% compress js %}
<script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/drum.js"></script>
<script src="{{ STATIC_URL }}js/jquery.pjax.js"></script>

{% endcompress %}


{% block extra_head %}{% endblock %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/" >{{ settings.SITE_TITLE }}</a>{% endif %}
    
    </div>
	<div class="navbar-collapse collapse" id="navbar-collapse">
    <div class="row">
    <div class="col-md-4 navbar-left">
	{% search_form "main.Link" %}
    </div>
    <div class="col-md-7 navbar-right">
	<ul class="nav navbar-nav" role="navigation">
        
    </ul>
    
    <ul class="nav navbar-nav navbar-right" role="navigation">
        
	{% url "link_list_latest" as link_list_latest %}
        {% url "comment_list_latest" as comment_list_latest %}
        {% url "comment_list_best" as comment_list_best %}
        {% url "home" as home %}
        {% url "timeline" as timeline %}
        <li{% if request.path == timeline %} class="active"{% endif %}><a href="{{ timeline }}"><i class="fa fa-home"></i> Home</a></li>
        <li{% if request.path == home or request.path == link_list_latest %} class="active"{% endif %}><a href="{{ home }}"><i class="fa fa-globe"></i> Discover</a></li>
	{% nevercache %}
    {% include "accounts/includes/user_panel_nav.html" %}
    {% endnevercache %}
    {% if request.user.is_authenticated %}
    <li><form action="{% url "link_create" %}">
    {% csrf_token %}
    <button class="btn btn-md btn-inverse no-pjax " style="margin-top: 10px; margin-left: 10px;" title="New miki"><i class="fa fa-pencil-square-o fa-lg"></i> New</button></form></li>
    {% else %}
    {% endif %}
    </ul>
    </div>
	</div>	
    </div>
</div>
</nav>

<div class="container main">
{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}
<h1>{% block title %}{% endblock %}</h1>

</div>

<div class="container">
<div class="row">
<div class="col-md-9">
    {% block main %}{% endblock %}
</div>
<div class="col-md-3 hidden-xs">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% ifinstalled mezzanine.twitter %}
    {% include "twitter/tweets.html" %}
    {% endifinstalled %}
    {% endblock %}
    <div class="g-page" data-width="180" data-href="//plus.google.com/u/0/106085179833629846976" data-rel="publisher"></div>
    <div class="fb-like-box" data-href="https://www.facebook.com/themikicom" data-width="180" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div><p></p>
    <a class="twitter-timeline" href="https://twitter.com/mikiapp" data-widget-id="540156022870929410">Tweets by @mikiapp</a>
    </div>
    </div>
    
</div>
</div>
</div>

<footer>

<div class="container">
<div class="row">
<div class="col-md-12">

{% page_menu "pages/menus/footer.html" %}
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-12">
<p class="site-info text-center" style="font-size: 16px; margin: 8px;">
    The Miki Beta. <br><br>
    Made by <a href="/users/atai">Atai Kang</a>. Hosting by <a href="https://www.digitalocean.com/?refcode=1728cc989345" target="_blank" title="Referral link with $10 credit. Spent 1st $25 - provide us $25">Digital Ocean</a>.<br><br>
    © Miki App 2013, 2014, 2015.
</p>
</div>
</div>
</div>
</footer>

<script>
$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel').carousel({
    pause: true,
    interval: 7000,
  });
});
</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<script>
$(document).on('click','.navbar-collapse.in', function() {
        $(this).collapse('hide');   }
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57364310-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
