<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
<link rel="publisher" href="https://plus.google.com/106085179833629846976" >
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" >
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/drum.css">

{% endcompress %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.navbar {
   background-color: rgba(255, 255, 255, 0.9);
} 
a {color: #F72F75;}
a:hover {color: #C7285F;}
.btn-primary {
color: #ffffff;
background-color: #F72F75 !important;
border-color: #F72F75 !important;
}
.panel-default {
border-top-color: #F72F75 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
border-top: 2px solid #F72F75 !important;
}
.well {
  color: #333;
  background-color: #FFF;
  border: 1px solid #dddddd;
  webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
.btn:hover {
    color: #F72F75;
}
.dropdown-menu > li > a:hover {
    background-color: #F72F75 !important;
}
</style>

<link rel="stylesheet" href="{{ STATIC_URL }}css/simple-sidebar.css" >
{% compress js %}
<script src="{{ STATIC_URL }}mezzanine/js/jquery-1.11.2.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/drum.js"></script>
<script src="{{ STATIC_URL }}js/jquery.pjax.js"></script>
{% endcompress %}

{% block extra_head %}{% endblock %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">{% trans "Toggle Navigation" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    
    {% if settings.SITE_TITLE %}<a class="navbar-brand" style="text-transform: lowercase; font-weight: 600; font-size: 24px; display: inline !important; color: #333 !important;" href="#menu-toggle" id="menu-toggle"><span class="text-muted" style="font-weight: 500;"><img src="{% static "img/bars.png" %}" width="20px;" />the</span>{{ settings.SITE_TITLE }}</a>{% endif %}
    
    </div>
	<div class="navbar-collapse collapse" id="navbar-collapse">
    <div class="row">
    <div class="col-md-5 navbar-left">
	{% search_form "main.Link" %}
    </div>
    <div class="col-md-5 navbar-right">
    
    <ul class="nav navbar-nav navbar-right" role="navigation">
        
	{% url "link_list_latest" as link_list_latest %}
        {% url "comment_list_latest" as comment_list_latest %}
        {% url "comment_list_best" as comment_list_best %}
        {% url "home" as home %}
        {% url "timeline" as timeline %}
        <li{% if request.path == timeline %} class="active"{% endif %}><a href="{{ timeline }}"><i class="fa fa-home"></i> home</a></li>
        <li{% if request.path == home or request.path == link_list_latest %} class="active"{% endif %}><a href="{{ home }}"><i class="fa fa-globe"></i> discover</a></li>
	{% nevercache %}
    {% include "accounts/includes/user_panel_nav.html" %}
    {% endnevercache %}
    {% if request.user.is_authenticated %}
    <li><form action="{% url "link_create" %}">
    {% csrf_token %}
    <button class="btn btn-md btn-inverse no-pjax " style="margin-top: 5px; margin-left: 10px;" title="New miki"><i class="fa fa-pencil-square-o fa-lg"></i> new</button></form></li>
    {% else %}
    {% endif %}
    </ul>
    </div>
	</div>	
    </div>
</div>
</nav>

<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <br>
                
                <li {% if request.path == timeline %} class="active"{% endif %}>
                    <a href="{{ timeline }}">Home</a>
                </li>
                <li {% if request.path == "/about/" %} {% endif %}>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/discover/">Discover</a>
                </li>
                <li>
                    <a href="/fellows/">Fellows</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a href="/legals/">Legals & PR</a>
                </li>             
                
                <li>
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        

<div class="container">
{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}
<h1>{% block title %}{% endblock %}</h1>

</div>

<div class="container">
<div class="row">
<div class="col-md-9 middle">
    {% block main %}{% endblock %}
</div>
<div class="col-md-3 right">
    {% block left_panel %}
    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
    {% endblock %}
    <div class="panel panel-default">
    <div class="panel-body">
    {% block right_panel %}
    {% endblock %}
    <a class="twitter-timeline" href="https://twitter.com/mikiapp" data-widget-id="540156022870929410">Tweets by @mikiapp</a>
    </div>
    </div>
    
</div>
</div>
</div>

<footer>

<div class="container">
<div class="row">
<div class="col-md-12">
<p class="site-info text-center" style="font-size: 16px; margin: 8px;">
    The Miki Beta. <br><br>
    Founded by <a href="/users/atai">Atai Kang</a> with <a href="http://octobertech.org/" target="_blank">OctoberTech.org</a> in 2014.<br><br>
    Copyright © Miki EdTech 2015. All rights reserved.<br><br>
    <div class="text-center">
    <div class="g-plusone" data-href="http://www.themiki.com/"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.themiki.com/" data-text="Check out @MikiApp - the world's first social micro encyclopedia..." data-hashtags="MikiApp">Tweet</a>
    <div class="fb-like" data-href="https://www.facebook.com/themikicom" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" style="padding-top: -5px !important;"></div>

    </div>
</p>
</div>
</div>
</div>
</footer>



                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57364310-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
{% editable_loader %}
</body>
</html>
