{% extends "base.html" %}
{% block meta_title %}Miki - the social micro encyclopedia{% endblock %}
{% block title %}{% endblock %}
{% block main %}
 <div class="jumbotron">
              <h1 style="margin-bottom: 5px;"><a href="/about/" style="color: #333">miki</a></h1>
              <p style="line-height: 1.3; margin-bottom: 10px;">a social micro encyclopedic service that enable everyone to easily find, learn and share knowledge and simple definitions in 140 characters.</p>
              <p><a href="/about/"><small>learn more</small></a></p>
</div>
            <table class="mikis table table-bordered table-hover">
              <tbody>
                <tr>
                  <td>
                    <div class="media miki">
                      <div class="media-body">
                        <h3 class="media-heading"><a href="#" style="color: #222;">miki</a></h3>
                        <p></p>
                        <h4 style="color: #444;">the social micro encyclopedia</h4>
						<h5 style="color: #999; margin-top: 10px;">by <a href="#" >miki</a>   1 hours ago</h5>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>
                    <div class="media miki">
                      <div class="media-body">
                        <h3 class="media-heading"><a href="#" style="color: #222;">miki</a></h3>
                        <h4 style="color: #444;">makes Wiki really simple, social and modern like Twitter.<br></h4>
						<h5 style="color: #999; margin-top: 10px;">by <a href="#" >miki</a>   3 hours ago</h5>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="media miki">
                      <div class="media-body">
                        <h3 class="media-heading"><a href="#" style="color: #222;">miki</a></h3>
                        <h4 style="color: #444;">put it simply</h4>
						<h5 style="color: #999; margin-top: 10px;">by <a href="#">miki</a>   8 hours ago</h5>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            
 <h1>Reviews:</h1>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel" style="background-color: #fff !important;">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner" role="listbox">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-12">
                  <p>"I think that the concept of Miki is really great and I could see
myself using this product in my everyday life--all too often I find
myself in a situation where I want the simple and sweet
explanation of something and end up just skimming the first
paragraph of Wikipedia anyway."</p>
                  <small> Princeton University student.</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                
                <div class="col-sm-12">
                  <p>“I believe Miki could really change the way that information is
shared and knowledge is passed around the world; it could reach
so many people who do not have the time or the resources to look
through an entire Wikipedia article. I believe this could
propagate to so many levels and really change the way the
world works.” </p>
                  <small>Duke University student.</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-12">
                  <p>I believe that future is innovation, getting the best out of what is
already good is a hard task, but in that search we can uncover
amazing things. Wikipedia has changed the way we find and
share information, and I believe that Miki can be a tool to
improve this.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        
       
      </div>                          
    </div>
  </div>

            <div class="partnership" style="margin-top: 30px;">
              <h3>Partners:</h3>
              <div class="partnership-logos" style="background-color: #FFF;">
                <a href="http://aws.amazon.com/activate/" target="_blank"><img src="/static/img/aws-activate.png" width="180" height="100"/></a>
                <a href="http://datastax.com" target="_blank"><img src="/static/img/datastax_logo.jpg" width="180" height="70"/></a>
                <a href="http://octobertech.org" target="_blank"><img src="/static/img/OT_logo_med_cut.jpg" width="180" height="90"/></a>
              </div>
            </div>


{% endblock %}

{% block left_panel %}
            <h1>Log in</h1><p></p>
            <div class="form-group">
              <form action="{% url "login" %}" method="POST">
              {% csrf_token %}
              <div class="input-group">
                <input type="text" name="username"  class="form-control" placeholder="username/email"/>
                <input type="password" name="password"  class="form-control" placeholder="password"/>
           
                {% if next %}
                  <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <br>
              <button type="submit" class="btn">Enter</button>
              </form>
            </div>
            <h4>Don't have an account yet? <a href="/accounts/signup">Sign up</a></h4><br>
    {% if auth_form.non_field_errors %}
    <div class="bg-danger">
    {{ auth_form.non_field_errors }}
     </div>
    {% endif %}
{% endblock %}